
<div class="pushDown">
	<div class="welcomeMessage">
	<br>
	<h2 class="welcomeHeader">Welcome to the Purrfect Pals Adoption Center ❤:  </h2>	
	<h4>Our mission is host a fun and useful community for users to find their purrfect furry companion!
	<br>Below is a live updated database of kittens and cats that are up for adoption. 
	<br> If you are interested in a pal, see the inquiry section located on the details page for direct contact!
	<br> Please Login/Register to see Pals in YOUR area!</h4>
	<p class="nextHeader">Click here to go to view more Pals! <a [routerLink]="['../../home', nextLink]">Next Page</a></p>
    </div>

	<hr>
	<div class="homeCatHolder">
		<div class="homeDiv1" *ngFor="let p of petsToShow; index as i">
			<span class="petName">
			<a class="petName" [routerLink]="['../../cat-info', '17', p.id]">{{i +1}}: {{p.name}}</a>
				<button *ngIf="loggedIn" [id]="'favButton'+p.id" (click)="AddFavoritePet(p.id)" class="favButton">
					<div [id]="'favButtonCont'+p.id" >
					<span class="heartEmoji" *ngIf="!isCatFavorited.get(p.id)">💕</span>
					<span class="heartEmoji" *ngIf="isCatFavorited.get(p.id)"><img class="favButtonGif" src="/assets/favorite.gif"></span>
                	<span class="hoverEmoji" *ngIf="!isCatFavorited.get(p.id)">💞</span>
					<span class="hoverEmoji" *ngIf="isCatFavorited.get(p.id)">💔</span>
					</div>
					<p class="favTxt" *ngIf="!isCatFavorited.get(p.id)" [id]="'favTxt'+p.id">save them!</p>
					<p class="favTxt" *ngIf="isCatFavorited.get(p.id)" [id]="'favTxt'+p.id">remove from fav's</p>
				</button>
				<button [id]="'like'+p.id" (click)="like(p.id)" class="likeButton"><img class="favButtonGif" src="/assets/pawsup.png"><p class="likeTxt" [id]="'likeTxt'+p.id">like them!</p></button>
			</span>
			<p class="basicInfo">Gender: {{p.gender}} // {{p.age}}</p>
			<p class="basicInfo">{{p.description}}</p>
			<h4>Status: {{p.status}}</h4>
    		<a [routerLink]="['../../cat-info', '17', p.id]">
				<!-- if image is null, use our backup-->
				<img src="{{p.primary_photo_cropped.medium}}" *ngIf=" null !== p.primary_photo_cropped"  class="catListImg minWidth100" alt="">
				<img *ngIf=" p.primary_photo_cropped === null" src="assets/catImage.jpg" alt="" class="catListImg">
			</a>
  		</div>
	</div>
	<footer class="footer" *ngFor="let pa of pageToShow | slice:-1; index as i"> 
		<p>Current Page: {{pa.current_page}}/ {{pa.total_pages}} <span *ngIf="showZipOnFooter">results in: {{currentUser.zipCode}}  </span> |
		<span *ngIf="pa._links.previous !== null"> <a [routerLink]="['../../home', previousLink]">Previous Page</a> | </span> 
		<a [routerLink]="['../../home', nextLink]">Next Page</a></p>
	</footer>
</div>
  
