<div>
<h2>Welcome to the Purrfect Pals Adoption Center: </h2>
<h3>Here You will find a list of available Cats for Adoption!</h3>
<p>Click on a Pal's name to see more information about them!</p>


<div class="homeDiv1" *ngFor="let p of petsToShow; index as i">
	<p><a [routerLink]="['../../cat-info', '17', p.id]">{{p.name}}</a> is {{p.age}} :)</p>
	<p>Gender: {{p.gender}}</p>
	<p>Description: <br>{{p.description}}</p>
    <a [routerLink]="['../../cat-info', '17', p.id]">
		<!-- if image is null, use our backup-->
		<img src="{{p.primary_photo_cropped.medium}}" *ngIf=" null !== p.primary_photo_cropped" alt="">
		<img *ngIf=" p.primary_photo_cropped === null" src="assets/catImage.jpg" alt="" height="300px" width="300px">
	</a>
	<button (click)="favoriteButtonAPI.AddFavoritePet(p.id, currentUser.userId, favPet)">💕</button>
	<!-- <img src="{{p.photos[0].medium}}" width="200" (error)="setDefaultPic($event)"> -->
  </div>
</div>

  
<footer *ngFor="let pa of pageToShow; index as i"> Current Page: {{pa.current_page}} Total Pages: {{pa.total_pages}} <span *ngIf="pa._links.previous !== null"> <a [routerLink]="['../../home', previousLink]">Previous Page</a> </span> | <a [routerLink]="['../../home', nextLink]">Next Page</a></footer>