/* NAV-BAR */
/* ////////////////////////// */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.navbar{
  background-color: #5e8198ee;
  position: fixed;
  width: 80%;
  margin-left: 180px;
  transition: top 0.3s;
  margin-bottom: 20px;
  border-radius: 0px 0px 8px 8px;

}
@media(min-width: 500px){
  .navbar {
    width: 60%;
    text-align: right;

  }
  
}

@media(min-width: 768px){
  .navbar {
    width: 58%;
    text-align: center;

  }
  
}
@media(min-width: 1366px){
  .navbar {
    width: 80%;
    text-align: center;
  }
}

.navbar a{
  color: #ff9c78 !important;
 
}

.navbar a:hover, .navbar p:hover {
background-color: #ff9c78;
color: #eaeaea !important;
border-radius: 10px;
padding: 8px;
 
}

.nav-item-dropdown{
  position:relative;
  display: inline-block;

}

.nav-link-account{
  transition: all 0.1s;
  color:#ff9c78 !important;
}

.nav-link-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;

}

.nav-link-content a{
  padding: 12px 16px;
  display: block;
  
}

.nav-link-account a:hover {
  background-color: #ff9c78;
}

.nav-item-dropdown:hover .nav-link-content{
  display: block;
  border-radius: 0;
}

.nav-item-dropdown:hover .nav-link-account{
  background-color: #ff9c78;
  color: #eaeaea !important;

}
.dropDownLink1{
  margin-top: 35px;  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 }
 .accountButton{
  margin-bottom: 0;
  padding-bottom: 0;
 }

.signOutButton{
  color:#ff9c78 !important;
  background-color: #5e819800;
  border: none;
  margin-top: 7px;

}

.signOutButton:hover {
 display: inline-block;
 background-color: #ff703c;
 color: #eaeaea !important;
 border-radius: 10px;
 padding-bottom: 8px;
 padding-top: 8px;
 margin-top: 0;

 }


.navbar-brand {
  padding: 4px !important;
  color: #ff703c !important;
}

.palsImage{
  height: 60px;
  width: 70px;
}

