.updateForm{
    border: 5px solid #ffc0a9f6;;
    border-radius: 5px;
    padding: 30px;
    text-align: left;
}
.in1{
    margin-left: 53px;
}
.in2{
    margin-left: 56px;
}
.in3{
    margin-left: 99px;
}
.in4{
    margin-left: 16px;
}
.in5{
    margin-left: 77px;
}