<div class="updateForm">

<div *ngIf="!isEditing">
    <button class="submitButton" (click)="isEditing = !isEditing">Update Information</button>
</div>

<div *ngIf="isEditing">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <label for="first-name">First Name: </label>
        <input class="in1" id="first-name" type="text" formControlName="firstName">
        <br>
        <label for="last-name">Last Name: </label>
        <input class="in2" id="last-name" type="text" formControlName="lastName">
        <br>
        <label for="email">Email: </label>
        <input class="in3"  id="email" type="text" formControlName="email">
        <br>
        <label for="phoneNumber">Phone Number: </label>
        <input class="in4"  id="phoneNumber" type="text" formControlName="phoneNumber">
        <br>
        <label for="zipCode">Zipcode: </label>
        <input class="in5"  id="zipCode" type="text" formControlName="zipCode">

        <br>
        <button class="submitButton" type="submit" [disabled]="!form.valid">Submit</button>

        </form>
    </div>
</div>
