<div *ngIf="loggedIn">
	<img src="{{ user.photoUrl }}">
	<div>
		<h4>Welcome {{ currentUser.firstName }} {{ currentUser.lastName }}!</h4>
	</div>
	<div>
		<h5>Contact Info:</h5>
		<p>Phone Number: {{ currentUser.phoneNumber }}</p>
		<p>Email: {{ currentUser.email }}</p>
	</div>
	<div *ngIf="currentUser.googleId !== user.id">
		<p>Register Here:</p>
		<p>Email:</p>
		<input type="text" [(ngModel)]="email" placeholder="Email">
		<p>First Name:</p>
		<input type="text" [(ngModel)]="firstName" placeholder="First Name">
		<p>Last Name:</p>
		<input type="text" [(ngModel)]="lastName" placeholder="Last Name">
		<p>Phone Number:</p>
		<input type="text" [(ngModel)]="phoneNumber" placeholder="Phone Number">
		<p>Zipcode:</p>
		<input type="text" [(ngModel)]="zipCode" placeholder="Zip Code">
		<br>
		<br>
		<button (click)="registerNewUser(email, firstName, lastName, phoneNumber, zipCode)">Register</button>
	</div>
	<app-favorites></app-favorites>
</div>

<div *ngIf="!loggedIn">   
	<p>Login to view account information</p>
</div>