<div class="pushDown">
<h2>{{catData.name}} <button *ngIf="loggedIn" [id]="'favButton'+catData.id" (click)="AddFavoritePet(catData.id)" class="favButton">💕</button></h2>
<p> Age: {{catData.age}} // Size: {{catData.size}}</p>
 <a [routerLink]="['/']" ><img src="{{catData.primary_photo_cropped.medium}}" 
	*ngIf=" null !== catData.primary_photo_cropped" class="specificCatImage catListImg" alt=""><img *ngIf=" catData.primary_photo_cropped === null" src="assets/catImage.jpg" class="specificCatImage" alt=""></a>
<p> Colors: {{catData.colors.primary}}{{catData.colors.secondary}}{{catData.colors.tertiary}}</p>
<h4>More info about {{catData.name}}</h4>
<ul>
    <li>Fixed: {{catData.attributes.spayed_neutered}}</li>
    <li>House Trained: {{catData.attributes.house_trained}}</li>
    <li>Declawed : {{catData.attributes.declawed}}</li>
    <li>Additional Needs: {{catData.attributes.special_needs}}</li>
    <li>Shots UTD: {{catData.attributes.shots_current}}</li>
</ul>
<h5>Good With:</h5>
<ul>
    <li>Children: {{catData.environment.children}}</li>
    <li>Dogs: {{catData.environment.dogs}}</li>
    <li>Other Cats: {{catData.environment.cats}} </li>
</ul>
<h5>Location: </h5>
<ul>
    <li>State: {{catData.contact.address.state}}</li>
    <li>City: {{catData.contact.address.city}}</li>
    <li>Zip Code: {{catData.contact.address.postcode}} </li>
</ul>
<h5>Inquire about {{catData.name}}!</h5>
<ul>
    <a href="mailto:{{catData.contact.email}}" class="href">Email: {{catData.contact.email}}</a>
    <li>Phone: {{catData.contact.phone}}</li>
</ul>
</div>