.specificCatImage{
    max-height: 700px;
    max-width: 700px;
    min-height: 400px;
    min-width: 400px;
    border: 5px solid #ff9c78;
    border-radius: 5px;
}
p{
    font-size: 16px;
    text-shadow: 2px 2px 5px white;
}


.catInfo {
    display: flex;
}
h2 {
    padding-top: .4em;
    text-shadow: 2px 2px 5px white;
}
h2 .favButton {
    font-size: 1em;
    text-shadow: 2px 2px 5px white;
} 
h3 {
    padding-top: .75em;
    text-shadow: 2px 2px 5px white;
}
h4 {
    padding-bottom: 6px;
    text-shadow: 2px 2px 5px white;
}
h5 {
    padding-bottom: 8px;
    text-shadow: 2px 2px 5px white;
}

.catInfoHalf {
    padding-right: 32px;
}

@media(max-width: 768px){
    .catInfo {
        display: block;
    }
}

.specCatImageDefault {
    max-height: 510px;
}


.contactInfo{
    border: 3px solid #ff9c78;
    border-radius: 10px;
    background-color: rgba(122, 180, 216, 0.628);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px white;
    font-size:  18px;
    font-weight: bold;
}

.basicCatInfo{
    border: 3px solid #ff9c78;
    border-radius: 10px;
    background-color: rgba(122, 180, 216, 0.628);
    margin-top: 10px;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 5px white;

}

.moreInfo{
    text-align: center;
}

.textArea{
    width: 500px;
}
   
.noteButton{
       font-size: 40px;
       float:right;
       margin-right: 65px;
}

.catName{
    text-align: center;
}
li {
    font-size: 17px;
}


.dollarInfo {
    color:#eaeaea;
    background-color: rgba(27, 27, 27, 0.5);
    border-radius: 8px;
    display: none;
    text-shadow: none;
    font-weight: lighter;
    padding: 3px;
    font-size: 15px;
    list-style: none;
    width: 50%;
}
.projCost:hover > .dollarInfo {
    display: block;
}

.medNeeds{
    font-size: 18px;
}

