<div class="pushDown">
<div class="favHeader">
<h1 class="favHeader1">Cute List 💕: </h1>
<h2 class="favHeader2">Home to all of your favorite furballs and potential pals!</h2>
<p *ngIf="deletedCounter > 0">It looks like {{deletedCounter}} of the cats you were interested in have been adopted! We're sorry you missed out but there are plenty of cats looking to love you !!</p>
</div>
<div class="favBackground">
    <h4 class="favHeader3" *ngIf="!loggedIn">⛔ It looks like you aren't logged in ⛔</h4>
    <div   *ngFor="let f of favPets; index as i">
        <div class="petInList" [id]="'div'+f.id">
            <a [routerLink]="['../cat-info', '17', f.id]">
                <!-- if image is null, use our backup-->
                <img *ngIf="null !== f.primary_photo_cropped" src="{{f.primary_photo_cropped.medium}}" alt="" class="catListImg">
                <img *ngIf="f.primary_photo_cropped === null" src="assets/catImage.jpg" alt="" class="catListImg" >
            </a>
            <div class="petInListContent">
                <span>
                    <a class="petName" [routerLink]="['../cat-info', '17', f.id]">{{f.name}}</a>
                    <button *ngIf="loggedIn" [id]="'favButton'+f.id" (click)="AddFavoritePet(f.id)" class="favButton">
                        <span class="heartEmoji">💕</span>
                        <span class="hoverEmoji">💔</span>
                    </button>
                </span>
                <p class="petBasicInfo">{{f.gender}} | {{f.age}} | {{favPetsCostFinder(f.id)}} 
                    <span class="dollarInfo">the 1/4 💲s indicate the adoption cost range you may be looking at</span>
                </p>
                <p>{{f.description}}</p>
                <p>Leave a CUTE note about {{f.name}}: </p>
                <div style="display:inline">
                <textarea class="textArea" rows="3" [value]="GetNote(f.id)" [id]="'note'+f.id" placeholder="Put your thoughts here!">
                </textarea><span><button class="noteButton" (click)="SaveNote('note'+f.id, f.id)">💌</button><p [id]="'alert'+f.id"></p></span>
              
             
               </div>
            </div>
        </div>
        <br>
    </div>
</div>
</div>