<h1>Cute List 💕: </h1>

<h2>Welcome! The Cute List is home to all of your favorite furballs and potential pals!</h2>

<p *ngIf="deletedCounter > 0">it looks like {{deletedCounter}} of the cats you were interested in have been adopted! we're sorry you missed out but there are plenty of cats looking to love you !!</p>
<hr>
<div>
<!-- for each this *ngFor="let f of favPet" -->
    <div *ngFor="let f of favPets; index as i">
        <div class="petInList" [id]="'div'+f.id">
            <a [routerLink]="['../cat-info', '17', f.id]">
                <!-- if image is null, use our backup-->
                <img *ngIf="null !== f.primary_photo_cropped" src="{{f.primary_photo_cropped.medium}}" class="catListImg" alt="">
                <img *ngIf="f.primary_photo_cropped === null" class="catListImg" src="assets/catImage.jpg" alt="">
            </a>
            <!-- replace currentUser with the user.id !!!!!! -->
            <!-- (click)="RemoveFavoritePet(f.id, currentUser)" -->

            <span><a [routerLink]="['../cat-info', '17', f.id]">{{f.name}}</a>> <button class="favButton" (click)="AddFavoritePet(f.id)">💕</button></span>
            <p>{{f.gender}}</p>
            <p>{{f.description}}</p>
            <p>cost</p>
            <p>{{favPetsCostFinder(f.id)}}</p>
            <!-- make value the favorite.note to autopopulate -->
            <input type="text" [value]="GetNote(f.id)" [id]="'note'+f.id" placeholder="Put your thoughts here!">
            <button (click)="SaveNote('note'+f.id, f.id)">save note</button>
        </div>
        <br><br>
    </div>
</div>