<h1>Cute List 💕: </h1>

<h2>Welcome! The Cute List is home to all of your favorite furballs and potential pals!</h2>



<p>Just need access to the UserId and then also need to decide what to name the pet[]</p>

<button (click)="AddFavoritePet(59086835)">💕</button>

<div>
<!-- for each this *ngFor="let f of favPet" -->
    <div *ngFor="let f of favPets; index as i">
        <div class="petInList">
            <a [routerLink]="['../cat-info', '17', f.id]">
                <!-- if image is null, use our backup-->
                <img *ngIf="null !== f.primary_photo_cropped" src="{{f.primary_photo_cropped.medium}}" class="catListImg" alt="">
                <img *ngIf="f.primary_photo_cropped === null" class="catListImg" src="assets/noImage.jpg" alt="">
            </a>
            <!-- replace currentUser with the user.id !!!!!! -->
            <!-- (click)="RemoveFavoritePet(f.id, currentUser)" -->

            <span><a [routerLink]="['../cat-info', '17', f.id]">{{f.name}}</a>> <button class="favButton">💙</button></span>

            <p>{{f.description}}</p>
            <p>cost</p>
            <p *ngIf="favPetsCost[i] < 2">$</p>
            <p *ngIf="favPetsCost[i] >= 3 && favPetsCost[i] < 4;">$$$$</p>
            <p *ngIf="favPetsCost[i] >= 2 && favPetsCost[i] < 3;">$$$</p>
            <p *ngIf="favPetsCost[i] > 1 && favPetsCost[i] < 2;">$$</p>
            <!-- make value the favorite.note to autopopulate -->
            <input type="text" [value]="favPet[i].note" [id]="'note'+f.id" placeholder="Put your thoughts here!">
            <button (click)="SaveNote('note'+f.id, f.id)">save note</button>
        </div>
    </div>
</div>