.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    padding: 0em;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.item img {
  max-width: 100%;  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 5px solid #eaeaea;
  border-radius: 5px;
}
.item:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border: 5px solid #ff9c78;
  border-radius: 5px;
}
@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}



.masonryHolder {
	position: relative;
}
.namePlate {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-shadow: black -1px 2px 4px;
    text-align: center;
}

.aristocatHeader{
    border: 3px solid #ff9c78;
    border-radius: 10px;
    background-color: rgba(122, 180, 216, 0.628);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px white;
    text-align: center;
    font-size:  32px;
    font-weight: bold;
}

