/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.homeDiv1{
  border: 3px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.catListImg {
  max-width: 500px;
  max-height: 500px;
}

.catListImg:hover {
  transform: scale(0.9);
}

.petInList {
 background-color: lightskyblue;
 border-radius: 5px;
}
/* BUTTONS: */
/* ////////////////////////// */
button {
  border-radius: 3px;
  border:0.16em solid #FFFFFF;
  background: #d7d7d7;
}
/* favorite Button */
.favButton {
 color: pink;
}


/* FOOTER */
/* ////////////////////////// */
.footer{
  border: solid 2px black;
  border-radius: 15px;
  padding-right: 50px;
  padding-left: 50px;
  padding: 20px;
  text-align: right;

}