
/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  
}


/* HOME STUFF */
/* ////////////////////////// */


.pushDown{
  padding-top: 4em;
}

.homeDiv1 {
  border: 3px solid #ff9c78;
  border-radius: 10px;
  padding: 6px;
  margin: 6px 6px 0px 0px;
  background-color: rgba(122, 180, 216, 0.628);
  word-break: break-all;
  white-space: normal;
}
.homeDiv1 p, a {
  padding: 3px;
}

.petName {
  font-size: 32px;
  color: #ff703c;
}

@media(min-width: 768px){
  .homeDiv1 {
    width: 49%;
  }
}
@media(min-width: 1366px){
  .homeDiv1 {
    width: 32.5%;
  }
}
.homeCatHolder {
  display: flex;
  flex-wrap: wrap;
 
}
.catListImg {
  max-width: 100%;
  max-height: 100%;
  transition: transform .15s;
  border: 5px solid #eaeaea;
  border-radius: 5px;
}

.catListImg:hover {
  transform: scale(0.9);
  border: 5px solid #ff9c78;;
  border-radius: 5px;
}
.minWidth100 {
  min-width: 100%;
}

.petInList {
 background-color: rgba(122, 180, 216, 0.628);
 border:2px solid #ff9c78;;
 border-radius: 5px;
 padding: 20px;
 
}
.petInList img {
  max-width: 100%;
  max-height: 100%;
}
.petInList input, button {
  line-break: after;
}

@media (min-width: 768px){
  .petInListContent {
    padding-left: 4px;
  }
  .petInList {
    display: flex;
  }
  .petInList {
    max-height: 300px;
  }
}
textarea {
  resize: none;
}
/* BUTTONS: */
/* ////////////////////////// */
button {
  border-radius: 3px;
  border:0.16em solid #FFFFFF;
  background: #d7d7d7;
}
/* favorite Button */
.favButton {
  color: pink;
  border: 0;
  background: 0;
  font-size: 1em;
}
.favButton:hover .heartEmoji {
  display: none;
}
.hoverEmoji {
  display: none;
}

.favButton:hover .hoverEmoji {
  display: inline;
}

.favButtonGif {
  width: 50px;
  display: block;
}

body{
background-color: #eaeaea
;
}


/* FOOTER */
/* ////////////////////////// */
.footer{
  border: solid 2px #ff9c78;;
  border-radius: 15px;
  padding: 20px 20px 3px 20px;
  text-align: right;
  font-size: 18px;
  margin-bottom: 4px;
  margin-top: 7px;
}

/* ACCOUNT */
/* ////////////////////////// */
.accountHeader{
  border:2px solid #ff9c78;;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 20px;
}


